html,
body {
    height: 100%;
    width: 100%;
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

body {
    min-height: 100vh !important;
}

.navbar {
    padding: 0.8rem;
}

.navbar li {
    padding-right: 20px;
    padding-top: 1rem;
}

.navbar-nav li a {
    color: #5e2195 !important;
}

.navbar-brand {
    color: #5e2195 !important;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 50px;
    text-transform: uppercase;
    border-bottom: 2px solid;
    padding: 12px 0;
    color: #5e2195;
}

.links>a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

footer {
    position: sticky;
    top: 100%;
    background: #eee;
    padding: 20px;
    text-align: center;
}

.btn-primary{
    color: white;
    background-color: #6648b1;
    border: 1px solid #6648b1;
}

.btn-primary:hover, .btn-outline-primary:hover {
    background-color: #563d7c;
    border: 1px solid #563d7c;
}

.btn-outline-primary {
    color: #563d7c;
    border: 1px solid #6648b1;
}

a,
.btn-link {
    color: #6648b1;
}

a:hover,
.btn-link:hover {
    color: #563d7c;
}